@font-face {
    font-family: "Poppins";
    src: url("./fonts/Poppins-Regular.ttf");
}
*{
    font-family: "Poppins", sans-serif;
}
.link{
    padding: 5px 10px;
    transition: .3s ease-out;
}
.link.active{
    background: #B88E2F;
    color: white;
    border-radius: 10px;
}